div.tooltip {
  position: absolute;
  text-align: center;
  width: 10rem;
  height: 3rem;
  padding: 0.6rem;
  font: 24px sans-serif;
  background: #f5f5f5;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
